.header {
	height: 95vh;
	max-width: 100vw;
	
	
background-image: linear-gradient(45deg, #F66C7F, #FABCC4),
	url("https://images.unsplash.com/photo-1548110579-405ee7448814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");	
	background-size: cover;
	background-blend-mode: soft-light;
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
	position: relative;
}

.logo-box {
	position: absolute;
	left: 2vmin;
	top:2vmin;
}

.logo {
	height: 40px;
	
}



