.section-features{
	padding:20rem 0;
	margin-top:-20rem;
	background-image:
	linear-gradient(
	to right bottom, 
	rgba(196,71,152, .7) , 
	rgba(224,123,224, .1)),
	url(https://images.unsplash.com/photo-1454262041357-5d96f50a2f27?ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60);
	background-size: cover;
	transform: skewY(-3deg);
}

.section-features > * {
	transform: skewY(3deg);

}