.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2em;
  display: inline-block;
  border-radius: 100px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  transition: all 200ms;

  /*Change for the <button> element styling*/
  border:none;
  cursor: pointer;
  font-size: inherit;
}


.btn:hover {
  color: var(--color-tyrian-purple);

}

.btn:activ,  .btn:focus{
  box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}

.btn-white {
  background-color: #fff;
  color: var(--color-mulbery);
}

.btn--pink  {
  background-color: var(--color-mulbery);
  color:#fff;
} 


.btn-white::after {
  background-color: rgba(255, 255, 255, 1);
}

.btn-form {
  color: var(--color-watermelon);
}

.btn-animated {
  animation: moveInBottom .4s ease-out .9s;
  animation-fill-mode: backwards;
}

/*Create ripple effect*/

.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, rgba(196,71,152, .4) 15%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}

.btn-text, .btn-text:link, .btn-text:visited {
  font-size: var(--root-font-size);
  color: var(--color-mulbery);
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid var(--color-mulbery);
  padding: 2px;
  transition: all .2s;
  position: relative;
}

.btn-text:after {
  content: "\2192";
  position: relative;
}

.btn-text:hover {
  color:var(--color-tyrian-purple);
  border-bottom: 1.5px solid var(--color-tyrian-purple);
}

.btn-text:after {
  content: "\2192";
  -webkit-transition: all .2s ease-in-out;
  margin-left: 10px;
  display: inline-block;
}
.btn-text:active {
  color:var(--color-tyrian-purple);
}

.btn-text:hover:after {
  transform : translateX(20px);
}

