.card {
	/*FUNCTIONALITY*/
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	height: 50rem;	
}
.card__side {
	background: #fff;
	height: 50rem;
	font-size: 1.5rem;
	transition: all .8s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	backface-visibility: hidden;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .1);
}

 .card__side--front {
	background-color: #fff;
}

.card__side--back {
	transform: rotateY(180deg);
}

.card__side--back-1 {
	background-image: linear-gradient(to right bottom, #F9EFA3, #F1D302);
}

.card__side--back-2 {
	background-image: linear-gradient(to right bottom, #FABCC4, #F66C7F);
}

.card__side--back-3 {
	background-image: linear-gradient(to right bottom, #9DE3DB, #4DCCBD);
}

.card:hover .card__side--front {
	transform: rotateY(-180deg);
}
 
.card:hover .card__side--back {
	transform: rotateY(0deg);
}

/*FRONT SIDE STYLING */

.card__picture {
	background-size: cover;
	height: 23rem;
	background-blend-mode: soft-light;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__picture--1 {
	background-image: linear-gradient(to right bottom, #F9EFA3, #F1D302),
	url("https://images.unsplash.com/photo-1548110579-405ee7448814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");	
}

.card__picture--2 {
	background-image: linear-gradient(to right bottom, #FABCC4, #F66C7F),
	url("https://images.unsplash.com/photo-1548110579-405ee7448814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");	
}

.card__picture--3 {
	background-image: linear-gradient(to right bottom, #9DE3DB, #4DCCBD),
	url("https://images.unsplash.com/photo-1548110579-405ee7448814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");	

}

.card__heading {
	position: absolute;
	top: 16rem;
	right: 2rem;
	font-size: 1.8rem;
	color:white;
	width:60%;
	text-align: right;
	font-weight: 300;
	text-transform: uppercase;

}

.card__heading-span {
	padding: .3rem 1.5rem;
	-webkit-box-decoration-break: clone;
}

.card__heading-span--1 {
	background-image: linear-gradient(to right bottom, #F9EFA3, #F1D302);
	
}

.card__heading-span--2 {
	background-image: linear-gradient(to right bottom, #FABCC4, #F66C7F);
}

.card__heading-span--3 {
	background-image: linear-gradient(to right bottom, #9DE3DB, #4DCCBD);
}

.card__details {
	padding: 1rem;
}

.card__details ul {
	list-style: none;
	width:65%;
	margin: 0 auto;
}

.card__details li {
	font-size: 1.5rem;
	padding: 1rem;	
}

.card__details li:not(:last-child) {
	border-bottom: 1px solid var(--medium-pale-lavender);
}

/* BACK SIDE STYLING */

.card__cta{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 95%;

}

.card__price-box {
	color: #fff;
	margin-bottom: 8rem;
}

.card__price-only {
	font-size: 1.4rem;
	text-transform: uppercase;

}

.card__price-value {
	font-size: 6rem;
	font-weight: 100;
}






